body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  text-align: center;
  border: 1px solid black;
}

.lists {
  margin: 3px;
  border: 1px solid black;
}

.list {
  width: 40%;
  display: inline-block;  
  margin: 20px;
  border: 1px solid black;
}

.listItem {
  margin: 5px;
  padding: 5px;
  border: 1px solid grey;
  background-color: #eeeeee;
  max-width: 90%;
}
